<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

    
    <title>Hotel new</title>
    <style>
        ul{
            list-style-type: none;
            overflow: hidden;
            background-color: black;
    
        }
        .cities{
        background-color: aqua;
        
        margin: 20px;
        padding: 20px;
        }
        li{
            float: left;
        }
        li a{
            display: block;
            color:white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        
        }
        .c:hover{
            background-color: green;
        }
        #d:hover{
            background-color: aqua;
        }
        li a:hover{
            background-color: #db0f9e;
    
        }
        
       </style>
</head>
<body style="background-image:url(/images\ plain.jpg); width: 100%;">
    <h1 style="color: rgb(54, 19, 6);text-align: center;">W.F.B</h1>
    <h1 style="color: black;text-align: center;">World Famous Biryani</h1>
    
    <ul>
        <li><a class="c" href="#Home">Home</a></li>
        <li><a id="d" href="#Branch">Branch</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="/logout">Logout</a></li>
        
        
    </ul>
    <h1 style="color: black;text-align:left;">Main Menu</h1>
    <dl>
       <h1><dt style="color:rgb(229, 11, 109);">biryani</dt></h1>
        <dd><h3><li>Chicken Biryani</li><br>
             <li>Mutton Biryani</li><br>   
              <li>Plain Biryani</li><br></h3></dd></dl> 
    
    <h1> <dt style="text-align: center;color:chocolate;"> CHICKEN BIRYANI</dt></h1>
    <h3 style="text-align: center;">Prize:299</h3>
        <p><img src="https://static.toiimg.com/thumb/53096628.cms?imgsize=104874&width=800&height=800" alt="Chicken biryai" style="margin-left:43% ;width: 200px;height: 200px;">
            <blockquote><b>Chicken Biryani is a tantalizing rice dish that combines succulent chicken pieces with aromatic basmati rice and 
                a myriad of spices to create a culinary masterpiece. Originating from the Indian subcontinent, this flavorful 
                dish has gained popularity worldwide for its rich taste and aromatic allure.
               <q> The key to a perfect Chicken Biryani lies in the careful blend of spices and the cooking technique.</q>
                The chicken is marinated in a mixture of yogurt, ginger-garlic paste, and spices like turmeric, chili powder, 
                and garam masala, allowing the flavors to penetrate the meat.</b> </blockquote></p><hr>
                 <h1><dt style="text-align: center;color:chocolate;"> MUTTON BIRYANI</dt></h1>
                 <h3 style="text-align: center;">Prize:399</h3>
                 <p><img src="https://www.cubesnjuliennes.com/wp-content/uploads/2021/03/Best-Mutton-Biryani-Recipe.jpg" alt="Mutton biryai" style="margin-left: 43%;width: 200px;height: 200px;">
                    <blockquote><b>Mutton biryani is the epitome of Indian cuisine, with layers of beautifully spiced mutton and 
                        tender grains of rice topped with coriander and fried onions.
                        Serve with raita for a refreshing combination of heat and flavour. 
                        Mutton biryani is a delectable dish that is ideal for fans of spice.
                        Mutton Biryani is a mouthwatering rice dish that combines tender mutton pieces with fragrant basmati rice, 
                        aromatic spices, and a medley of flavors. This traditional Indian delicacy is a perfect blend of succulent meat 
                        and perfectly cooked rice, infused with the rich flavors of spices like biryani masala, turmeric, and cumin.</b> 
                        
                    </blockquote></p><hr>
                        <h1><dt style="text-align:center;color: chocolate;">PLAIN BIRYANI</dt></h1>
                        <h3 style="text-align: center;">Prize:199</h3>
                        <p><img src="https://sangskitchen.b-cdn.net/wp-content/uploads/2020/04/Kuska-biryani-500x375.jpg" alt="Plain biryai" style="margin-left: 43%;width: 200px;height: 200px;">        
                       <blockquote><b>Plain Biryani, also known as Vegetable Biryani, is a delightful rice dish that showcases the beauty of simplicity. 
                           It is a vegetarian version of the traditional biryani that is loved for its fragrant rice and flavorful combination of vegetables.
                           The foundation of Plain Biryani is the aromatic basmati rice, known for its long grains and distinct aroma. The rice is carefully 
                           cooked to perfection, achieving a fluffy texture while retaining its individual grains.
                           In addition to the rice, a variety of colorful vegetables are used to enhance the dish. Commonly used vegetables include carrots, 
                           peas, beans, cauliflower, and potatoes, though you can adapt the selection based on personal preference. The vegetables are cooked
                           letter until tender but still retain their natural flavors and vibrant colors.</b></blockquote></p><hr>
                            
        <h1><dt style="color: blueviolet;">Soups</dt></h1>
        <dd><h3><li>Chicken Soup</li><br>
            <li>Mutton Soup</li><br>   
             <li>Crab Soup</li><br></h3></dd>
        <h1><dt style="text-align:center;color: chocolate">CHICKEN SOUP</dt></h1>
        <h3 style="text-align: center;">Prize:39</h3>
             <p><img src="https://www.sharmispassions.com/wp-content/uploads/2020/03/CountryChickenSoup1-500x375.png" alt="Chicken soup" style="margin-left: 43%;width: 200px;height: 200px;">
                <blockquote><b>Chicken Soup is a comforting and nourishing dish that has been cherished for generations. It is a culinary classic known for its simplicity, soothing qualities, and ability to warm both body and soul.
        
                    The foundation of chicken soup lies in the slow simmering of chicken bones and meat, which creates a rich and flavorful broth. The bones release gelatin, minerals, and nutrients that infuse the broth, making it both delicious and nutritious.
                    
                    To prepare chicken soup, a combination of chicken pieces, such as the meaty parts and bones, is simmered with aromatic vegetables like onions, carrots, celery, and herbs like parsley and bay leaves. This gentle simmering process allows the flavors to meld together, resulting in a savory and comforting broth.
                    
                   <bdo dir="ltr">hellooo</bdo> The tender and succulent chicken pieces add a satisfying element to the soup.</b></blockquote></p><hr>
        <h1><dt style="text-align:center;color: chocolate">MUTTON SOUP</dt></h1>
        <h3 style="text-align: center;">Prize:69</h3>
            <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREWp-D5QfAJ_TRm1gX2_aIxdFUjriInIkJFZ7I6IjI-arXhyj1ciG6czTHV9k7Rdndr9DaN5DoW4c&usqp=CAU&ec=48665701" alt="Chicken soup" style="margin-left: 43%;width: 200px;height: 200px;">
                <blockquote><b>Mutton Soup is a hearty and flavorful dish that offers comfort and nourishment in every spoonful. It is a popular choice for those seeking a warming and satisfying meal, particularly during colder seasons.
    
                    The essence of mutton soup lies in the slow simmering of tender mutton pieces, which creates a rich and aromatic broth. The mutton imparts its unique flavor to the soup, resulting in a savory and robust base.
                    
                    To prepare mutton soup, chunks of mutton, usually from lamb or goat, are simmered with a medley of aromatic vegetables like onions, carrots, celery, and garlic. This combination of ingredients infuses the broth with deep flavors and adds a subtle sweetness to the soup.
                    
                    The slow cooking process allows the mutton to become tender and succulent, releasing its rich flavors into the broth.</b> </blockquote></p><hr>
        <h1><dt style="text-align:center;color: chocolate">CRAB SOUP</dt></h1>
        <h3 style="text-align: center;">Prize:49</h3>
        <p><img src="https://cocozil.com/images/cocozil/soupe-de-crabe-crab-soup-sm.jpg" alt="Chicken soup" style="margin-left:43%;width: 200px;height: 200px;">
                <blockquote><b>Crab Soup is a delightful and flavorful dish that showcases the delicate and succulent taste of crab meat. It is a culinary gem known for its unique flavor profile and the exquisite combination of ingredients.

                    The essence of crab soup lies in the use of fresh crab meat, which brings a rich and sweet flavor to the dish. The meat is carefully extracted from the crab's claws and body, ensuring that every morsel is tender and full of flavor.
                    
                    To prepare crab soup, a base is created by sautéing aromatic vegetables like onions, garlic, and celery in a pot.</b></blockquote></p>

    

        
    </dl>
    
</body>
</html>